@import '/src/shared/utils/class_utility.less';

@sizes: {
  mobile: 320px;
  tablet: 768px;
  desktop: 1024px;
};

@colors: {
  aquatic: #00b8ce;
  primary: #3a5599;
  primary-2: #00587c;
  secondary: #eb4253;
  secondary-2: #b33642;
  error: #d73a49;
  warning: #ffb812;
  success: #6cc000;
  white: #fff;
  black: #000;
  black-2: #06070d;
  gray: #e0e0e0;
  gray-1: #333;
  gray-2: #11131b;
  gray-3: #242735;
  gray-4: #3a3f50;
};

@font: 'Roboto', 'HelveticaNeue', 'Helvetica Neue', sans-serif;
@bg-pimary-hover: @colors[primary-2];
@bg-btn-default-hover: @colors[gray];
@box-shadow-toast: 0px 2px 4px -1px rgb(0 0 0 / 20%),
  0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
@width-vertical-menu: 238px;

//---------------Default-----------//

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid rgba(229, 231, 235, 1);
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: @font;
  color: @colors[gray-1];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: larger;
  font-weight: bold;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

p::first-letter {
  text-transform: uppercase;
}

//-----------Link-----------//
a {
  &:hover,
  &:active {
    color: inherit;
  }
  text-decoration: none;
  color: inherit;
}

.field_link {
  color: @colors[primary];
  font-size: 14px;
  &:hover {
    color: @bg-pimary-hover;
    text-decoration: underline;
  }
}

//<<------------Button----------->>//

button {
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn {
  padding: 6px 16px;
  font-weight: 600;
  font-size: 0.875rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02857em;
  text-transform: capitalize;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__primary {
  .btn;
  background-color: @colors[primary];
  color: @colors[white];
  &:hover {
    color: @colors[white];
    background-color: @bg-pimary-hover !important;
  }
}

.btn__secondary {
  .btn__primary;
  background-color: @colors[secondary];
  &:hover {
    background-color: @colors[secondary-2] !important;
  }
}

.btn__default {
  .btn;
  &:hover {
    background-color: @bg-btn-default-hover !important;
  }
}

.btn__outlined {
  .btn;
  background-color: @colors[white];
  color: @colors[primary];
  outline: 1px solid @colors[gray];
  &:hover {
    outline: 1px solid @bg-pimary-hover;
  }
  &:disabled {
    color: @colors[gray];
    outline: 1px solid @colors[gray];
  }
}

.btn__field {
  height: 40px;
}

[role='button'] {
  .btn;
  background-color: @colors[primary];
  color: @colors[white];
  &:hover {
    color: @colors[white];
    background-color: @bg-pimary-hover;
  }
}

.btn__pagination {
  height: 40px;
}

//-------------Avatar-----------------//

.avatar {
  border-radius: 50%;
  cursor: pointer;
}

.avatar > img {
  border-radius: inherit;
  .block;
  .object-cover;
  width: 100%;
  height: 100%;
}

//<----------------IconSVG-------------->//

.icon {
  cursor: pointer;
}

path {
  fill: currentColor;
}

.input__icon > .icon > path {
  fill: @colors[primary];
  &:hover {
    fill: @bg-pimary-hover !important;
  }
}

.loading-page-icon > svg > rect {
  fill: @colors[primary];
}

//------------------Navbar----------------//
.header {
  .sticky;
  z-index: 999;
  background-color: @colors[white];
  top: 0px;
  box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 12%);
  height: 56px;
}

.headers .nav {
  height: inherit;
}

.header__private {
  height: 56px;
  .padding-x(4);
}

.nav__menu {
  .inline-flex;
  .center2;
  .p-4;
  .capitalize;
  .text-center;
  min-width: 150px;
  font-weight: 500;
}

.nav__btn {
  padding: 16px 22px;
  height: 100%;
}

.active {
  color: @colors[primary] !important;
}

.nav__user {
  width: 32px;
  height: 32px;
  &-private {
    width: 42px;
    height: 42px;
  }
}

.nav__user-menu {
  visibility: hidden;
  top: 100%;
  right: 0;
  .absolute;
  z-index: 999;
  font-size: 15px;
  background-color: @colors[white];
  box-shadow: @box-shadow-toast;
  width: 160px;
  &-item {
    .flex;
    .center-between;
    padding-top: auto;
    .padding-x(4);
    height: 40px;
    &:hover {
      background-color: @colors[gray];
    }
  }
}
.nav__user:hover .nav__user-menu,
.nav__user-private:hover .nav__user-menu {
  visibility: visible;
}

.nav__menu-vertical {
  background-color: @colors[gray-3];
  color: @colors[white];
  width: @width-vertical-menu;
}

.nav__menu__item-vertical {
  font-weight: 600;
  height: 56px;
  .padding-x(4);
  &:hover {
    background-color: @colors[gray-4];
  }
}

.nav__notification {
  .mx-5;
  .h-px(25);
  &:hover {
    color: @colors[primary];
  }
}

.active__nav-vertical {
  border-left: 4px solid @colors[aquatic];
}

//--------------Footer--------------//
.footer__main {
  background-color: @colors[gray-2];
  color: @colors[white];
}

//----------Landing-Page-----------//
.landing {
  &__img {
    height: 35rem;
    object-fit: cover;
    object-position: 30% 80%;
    top: 0px;
    left: 0px;
  }
  &__btn {
    text-transform: uppercase !important;
    height: 5rem;
    width: 10rem;
  }
}

//--------------Market-----------------//

.body__market {
  .flex;
}

.sider__menu {
  width: @width-vertical-menu;
  overflow-y: auto;
}
//-------------Auth-Layout-------------//
.auth_layout__wrapper {
  .block;
  .h-full;
}

.auth_content__box {
  .absolute;
  top: 40%;
  left: 50%;
  width: 360px;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px 0 rgb(51 62 73 / 10%);
  padding: 8px 24px;
}

//------------Toast-Message--------------//
#toast {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 99999;
}

.toast {
  .flex;
  .items-center;
  background-color: @colors[white];
  border-left: 4px solid;
  box-shadow: @box-shadow-toast;
  .padding-y(2);
  color: @colors[gray-1];
  transition: all linear 0.3s;
  &__icon {
    .mx-2;
  }
  &__body {
    flex-grow: 1;
  }
  min-width: 200px;
  max-width: 260px;
  &__msg {
    font-size: 14px;
    line-height: 1.5;
  }
}

.toast + .toast {
  .margin-top(2);
}

.message-success {
  border-color: @colors[success];
  .toast__icon {
    color: @colors[success];
  }
}
.message-error {
  border-color: @colors[error];
  .toast__icon {
    color: @colors[error];
  }
}
.message-warning {
  border-color: @colors[warning];
  .toast__icon {
    color: @colors[warning];
  }
}
.message-info {
  border-color: @colors[primary];
  .toast__icon {
    color: @colors[primary];
  }
}

//---------------Modal------------------//

.modal {
  &__dimmer {
    .fixed;
    .w-full;
    z-index: 99999;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__body {
    .absolute;
    background-color: @colors[white];
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    min-width: 360px;
    line-height: 1.5;
    .padding(2);
  }
  &__title {
    .margin-x(2);
    .margin-bottom(4);
  }
  &__content {
    .margin-x(2);
    .margin-bottom(4);
  }
  &__action {
    .flex;
    float: right;
  }
}

//-----------Card-Product------------//

.card__product {
  max-width: 220px;
  transition: all 0.2s ease 0s;
}

.card__image {
  .object-cover;
  overflow: hidden;
  .w-full;
}

.card__content {
  .padding(1);
}

.ower__product__card {
  .flex;
  .h-px(100);
  &:hover {
    box-shadow: @box-shadow-toast;
  }
}

.ower__product__card + .ower__product__card {
  .margin-y(3);
}

.owner__product__card-image {
  .object-cover;
  .h-full;
  .w-full;
}

.ower__product__card-content {
  .flex-1;
  .items-center;
  .padding(2);
}

.owner__product__card-action {
  color: @colors[primary];
  .padding(2);
}

//------------Pagination-------------//

.pagination__input {
  font-size: 14px;
  width: 55px;
}
//----------------------FIELD--------------------//
.form__field {
  .margin-bottom(5);
  font-size: 0.875rem;
}

//--------------Label-------------//
label {
  font-weight: bold;
  text-transform: capitalize;
}

.field {
  .margin-top(1);
}

//<<-----------Input----------->>//

input {
  .padding-x(2);
  outline: 2px solid transparent;
  border: 1px solid @colors[black-2];
  height: 40px;
  width: 100%;
  &:hover,
  &:focus {
    border: 2px solid @colors[primary];
  }
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

.field__input {
  .relative;
}

.field_name_input {
  max-width: 150px;
  input {
    max-width: 100%;
  }
}

.input__icon {
  background-color: transparent;
  .absolute;
  top: 22%;
  right: 2%;
}
//--------------CheckBox-Field ----------------//

.checkbox__field {
  .mr-2;
}

//--------------Select-field---------------//

.select__field {
  .capitalize;
  .padding-x(2);
  outline: 2px solid transparent;
  border: 1px solid @colors[black-2];
  height: 40px;
  width: 100%;
  &:hover,
  &:focus {
    border: 2px solid @colors[primary];
  }
}

//-----------------Text-Area--------------//

textarea {
  resize: none;
}

.textarea__field {
  .padding(2);
  outline: 2px solid transparent;
  border: 1px solid @colors[black-2];
  width: 100%;
  height: 100px;
  &:hover,
  &:focus {
    border: 2px solid @colors[primary];
  }
}

//---------------Test-Page-------------//
.test {
  .relative;
  &__btn {
    .absolute;
    top: 300px;
    left: 50%;
  }
}
